[Unit]
Description={{ app_ubooquity.service.desc }}

[Service]
User={{ app_ubooquity.service.user }}
WorkingDirectory={{ app_ubooquity.service.workdir }}
ExecStart=/usr/bin/java -Xmx256m -jar {{ app_ubooquity.service.jardir ~ '/Ubooquity.jar' }} --headless --remoteadmin --libraryport {{ app_ubooquity.service.ports.library }} --adminport {{ app_ubooquity.service.ports.admin }}
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
